@{
    ViewBag.Title = "生产订单管理";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        GetTree();
        GetGrid();
        //SwitchListAndView();
    });

    //加载左边树
    //注意 FolderId 默认等于1 这样就可以加载一级目录下的子节点文件夹
    var TreeId = "";//16
    var ItemId = 2;
    //ItemId = GetQuery("ItemID"), ProjectName = "", IsPublic = "1";
    function GetTree() {
        var itemtree = {
            onnodeclick: function (node) {
                TreeId = node.id;
                TreeName = node.text;
                GridFolderEvent(TreeId);
            },
            url: "@Url.Content("/SteelMember/MemberProduce/TreeJson")?ItemId=" + ItemId
        };
        $("#ItemsTree").treeview(itemtree);
    };

    //表格文件夹点击事件
    function GridFolderEvent(TreeId) {
        TreeId = TreeId;
        $("#gridTable").jqGrid('setGridParam', {
            url: "@Url.Content("/SteelMember/MemberProduce/GridListJsonOrder")?TreeID=" + TreeId, page: 1
        }).trigger('reloadGrid');
    }

    //加载表格
    function GetGrid() {
        var SelectRowIndx;
        $("#gridTable").jqGrid({
            url: "@Url.Content("/SteelMember/MemberProduce/GridListJsonOrder")?TreeID=" + TreeId,
            datatype: "json",
            height: $(window).height() - 154,
            autowidth: true,
            colModel: [
                    { label: '主键', name: "OrderId", index: "OrderId", hidden: true },
                    { label: '外键', name: "ProjectDemandId", hidden: true },
                    { label: '外键', name: "MemberId", hidden: true },
                    { label: '订单编号', name: "OrderNumbering", index: "OrderNumbering", width: 12 },
                    {
                        label: '交货时间', name: "VeliveryTime", index: "VeliveryTime", width: 12,
                        formatter: function (cellvalue, options, rowObject) {
                            return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                        }
                    },
                    {
                        label: '创建时间', name: "CreateTime", index: "CreateTime", width: 12,
                        formatter: function (cellvalue, options, rowObject) {
                            return formatDate(cellvalue, 'yyyy-MM-dd hh:mm:ss');
                        }
                    },
                    { label: '制单人', name: "CreateMan", index: "CreateMan", width: 12 },
                    {
                        label: '订单确认状态', name: 'ConfirmOrder', index: 'ConfirmOrder', width: 5,
                        formatter: function (cellvalue, value, row, index) {
                            var ConfirmOrder = cellvalue;
                            if (ConfirmOrder != "" || ConfirmOrder != null) {
                                if (ConfirmOrder == 1) {
                                    return "<img src='../../Content/Images/checkokmark.gif'/>";
                                } else {
                                    return "<img src='../../Content/Images/checknomark.gif'/>";
                                }
                            } else {
                                return "";
                            }
                        }
                    },
                    { label: '确认人', name: "ConfirmMan", index: "ConfirmMan", width: 10 },
                    { label: '备注', name: 'Description', index: 'Description', width: 12 },
            ],
            rowNum: 30,
            sortname: 'SortCode',
            sortorder: 'Desc',//降序 asc升序
            pager: "#gridPager",
            viewrecords: true,
            rownumbers: true,
            gridview: true,
            footerrow: true,
            subGrid: true,
            subGridRowExpanded: function (subgrid_id, row_id) {
                var OrderId = GetJqGridValue("#gridTable", row_id, "OrderId");
                var subgrid_table_id = subgrid_id + "_t";
                $("#" + subgrid_id).html("<table id='" + subgrid_table_id + "'></table>");
                $("#" + subgrid_table_id).jqGrid({
                    url: "@Url.Content("~/SteelMember/ProjectOrder/GetOrderEntryList")?OrderId=" + OrderId,
                    datatype: "json",
                    colModel: [
                        { label: '主键', name: "MemberId", width: 200, sortable: false ,hidden:true},
                        { label: '构件编号', name: "MemberNumbering", width: 200, sortable: false },
                        { label: '构件名称', name: "MemberName", width: 150, sortable: false },
                        { label: '构件型号', name: "MemberModel", width: 80, sortable: false, align: 'center' },
                        { label: '单位', name: "MemberUnit", width: 80, sortable: false, align: 'center' },
                        { label: '数量', name: 'Qty', width: 80, sortable: false, align: 'center' },
                        { label: '单价', name: 'Price', width: 80, sortable: false, align: 'center' },
                        { label: '金额', name: 'PriceAmount', width: 80, sortable: false, align: 'center' },
                        { label: '说明', name: 'Description', width: 200, sortable: false }
                    ],
                    width: "1227",
                    rowNum: "all"
                });
            },
            rowList: [15, 30, 50, 100, 500, 1000],
            ondblClickRow: function (TreeId) {

                //表格行样式
                var rowData = $("#gridTable").getRowData(TreeId);  //根据ID拿到一行的数据
                if (rowData.Icon == '-1') {
                    GridFolderEvent(rowData.TreeId);
                    var treeid = "ItemsTree_" + rowData.TreeId.replace(/-/g, '_');
                    $('#' + treeid + ' img').trigger("click");
                }
            },
            onSelectRow: function () {
                SelectRowIndx = GetJqGridRowIndx("#" + this.id);
            },
            gridComplete: function () {
                //合计
                $(this).footerData("set", {
                    "OrderNumbering": "合计",
                    "MemberNumber": $(this).getCol("MemberNumber", false, "sum"),
                    "CostBudget": $(this).getCol("CostBudget", false, "sum"),
                });

                //表格行样式
                var ids = $("#gridTable").getDataIDs();
                for (var i = 0; i < ids.length; i++) {
                    var rowData = $("#gridTable").getRowData(ids[i]);
                    if (rowData.Enabled == "无效") {//如果无效，则背景色置于红色
                        $('#' + ids[i]).find("td").addClass("SelectBG");
                    }
                }
                $("#" + this.id).jqGrid('setSelection', SelectRowIndx);
            }
        });
        columnModelData("#gridTable");
        //自应高度
        $(window).resize(function () {
            $("#gridTable").setGridHeight($(window).height() - 200);
        });

    }
    //刷新表格 树
    function btn_reload() {
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //新增信息
    function btn_add() {
        //var KeyValue = GetJqGridRowValue("#gridTable", "ProjectId");
        if (IsChecked(TreeId)) {
            var url = "/SteelMember/MemberProduce/OrderForm?KeyValue= " + TreeId;
            openDialog(url, "OrderForm", "新增信息", 500, 400, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //编辑信息(得到实体)
    function btn_edit() {
        var KeyValue = GetJqGridRowValue("#gridTable", "OrderId");
        var ItemID = 1;
        if (IsChecked(KeyValue)) {
            var url = "/SteelMember/MemberProduce/OrderForm?KeyValue= " + KeyValue + "&ItemID=" + ItemID;
            openDialog(url, "OrderForm", "编辑信息", 600, 400, function (iframe) {
                top.frames[iframe].AcceptClick();
            });
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //标记删除信息
    function btn_mark() {
        var KeyValue = GetJqGridRowValue("#gridTable", "OrderId");
        var Prompt = "您确实要删除此文件吗？";
        if (IsDelData(KeyValue)) {
            delConfirm('/SteelMember/MemberProduce/MarkProjectDemand', { KeyValue: KeyValue }, Prompt);
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //删除信息
    function btn_delete() {
        var KeyValue = GetJqGridRowValue("#gridTable", "OrderId");
        var Prompt = "您确实要删除此文件吗？";
        if (IsDelData(KeyValue)) {
            delConfirm('/SteelMember/MemberProduce/DeleteProjectOrder', { KeyValue: KeyValue }, Prompt);
            $("#gridTable").trigger("reloadGrid"); //重新载入
        }

    }

    //确认信息
    function btn_confirm() {
        var KeyValue = GetJqGridRowValue("#gridTable", "OrderId");
        var Prompt = "您确实要提交此文件吗？";
        if (IsDelData(KeyValue)) {
            subConfirm('/SteelMember/MemberProduce/ConfirmOrder', { KeyValue: KeyValue }, Prompt);
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }

    //构件图纸/模型管理
    function btn_drawing() {
        var KeyValue = GetJqGridRowValue("#gridTable", "MemberId");
        var Sort = GetJqGridRowValue("#gridTable", "Sort");
        if (IsChecked(KeyValue)) {
                var url = '/SteelMember/File/DrawingManagement?KeyValue=' + KeyValue;
                Dialog(url, "DrawingManagement", "文件管理", 900, 890, function (iframe) {
                    top.frames[iframe].AcceptClick()
                });
        }
    }

    //导出文件
    function btn_derive() {
        SetDeriveExcel("#gridTable", "构件厂订单信息表");
        openDialog("/SteelMember/File/DeriveFile", "DeriveFile", "信息导出", 900, 500, function (iframe) {
            top.frames[iframe].AcceptClick();
        })
    }

    //订单详细信息(得到实体)
    function btn_detail() {
        var KeyValue = GetJqGridRowValue("#gridTable", "OrderId");
        var ItemID = 1;
        if (IsChecked(KeyValue)) {
                AddTabMenu("DetailForm", "@Url.Content("/SteelMember/ProjectOrder/DetailForm")?KeyValue= " + KeyValue + "&TreeId=" + TreeId, "变更订单", "page_white_add.png", true, true, true);
                //var url = "/SteelMember/ProjectManagement/OrderForm?KeyValue= " + KeyValue + "&ItemID=" + ItemID;
                //openDialog(url, "Form", "编辑信息", 600, 400, function (iframe) {
                //    top.frames[iframe].AcceptClick();
                //});
        }
        $("#gridTable").trigger("reloadGrid"); //重新载入
    }
</script>

<div id="layout" class="layout">
    <!--左边-->
    <div class="layoutPanel layout-west">
        <div class="btnbartitle">
            <div>
                目录信息
            </div>
        </div>
        <div class="ScrollBar" id="ItemsTree"></div>
    </div>
    <!--中间-->
    <div class="layoutPanel layout-center">
        <div class="btnbartitle">
            <div>
                订单信息<span id="CenterTitle"></span>
            </div>
        </div>
        <div class="tools_bar" style="border-top: none; margin-bottom: 0px;">
            <div class="PartialButton">
                @Html.Partial("_PartialButton")
            </div>
        </div>
        <table id="gridTable"></table>
    </div>
</div>